# Konfigurasi Server
PORT=3000
TEBCO_SECRET=xxxxx

# API Keys AI
GROQ_API_KEY=gsk_xxxxxx
GEMINI_API_KEY=AIxxxxx

# (Opsional) Jika menggunakan API TTS Premium (ElevenLabs/VoiceRSS)
# TTS_API_KEY=your_tts_api_key
